body {
    height: 90%;
    width: 99%;

    position:relative;
}
#div1{

    height: 10%;
    width: 50%;
    margin: 0;
    position: relative;
    top: 45%;
    left:25%; 
}

#asd{
    font-size: 4vw;
    text-align: center;
    animation: 2s ease-in 0s 1 appear;
}
@keyframes appear{
    0%{
        opacity: 0%;
    }
    50%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}