body {
    height: 90%;
    width: 99%;

    position:relative;
}
.div1{
    height: 400px;
    width: 400px;
    margin: auto auto;
    top:20%;
    background:url(images/charizard.png);
    background-repeat: no-repeat ;
    background-size:cover;
    animation: 4s ease-in 0s 1 appear;
}
.relative{
    position: relative;
}
.sticky{

    position:sticky;

}



@keyframes appear{
    0%{opacity: 0%; top:30%;}
    25%{opacity: 0%;}
    50%{opacity: 100%;top:20%;}
    75%{opacity: 100%;}
    100%{opacity: 100%;}
}